*{
  padding: 0;margin: 0;box-sizing: border-box;
}

.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: black;
}
.container{
  width: calc(30vw + 250px);
  /* border: 1px solid red; */
  height: 600px;
  padding: 15px;
}
h1{
  font-size: calc(1vw + 18px);
  text-align: center;
  margin-bottom: 18px ;
  color: grey;
}
.writetask{
  display: flex;
  gap: 20px;
 
}
.writetask input{
  padding: 6px 14px;
  font-size: calc(0.5vw + 10px);
  outline: 1.5px solid rgb(0, 0, 0);
  border: none;
  width: 80%;
  border-radius: 10px ;
 
}
.writetask .addbtn{
  background-color: green;
  padding: 7px 20px;
  color: white;
  border-radius: 8px;
  font-size: calc(0.7vw + 10px);
  border: none;
  cursor: pointer;
}
.writetask .addbtn:hover{
    background-color: black;
    color: white;
}

.todotasks{
  margin-top:20px ;
  /* padding-left: 10px ; */
  /* border: 1px solid red; */
  height: 450px ;
  overflow-y: scroll;
}
.todotasks::-webkit-scrollbar {
  display: none;
}
.todotasks .list{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 4px 12px;
  width: 95%;

}
.todotasks .list p{
  font-size: calc(0.8vw + 10px);
  font-weight: bolder;
  color: rgb(159, 159, 159);
}
.todotasks .list .deletebtn{
  background-color: red;
  color: rgb(13, 13, 13);
  font-size: calc(0.5vw + 8px);
  border: none;
  padding: 3px 8px;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
}


